.container {
  display: none;
}
@media only screen and (max-width: 700px) {
  .container {
    display: flex;
    /* flex-direction: row; */

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;    
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100vw;
    height: "50px";
    background-color: white;
  }
  .link {
    text-decoration: none;
    font-size: 10;
    font-weight: bold;
    /* padding: 20;
    margin: 50; */
    text-align: center;
    display:'flex';
    flex-direction: column;
  }
  .link, .customer a {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: none;
    text-decoration: none;
    text-underline-offset: 0.3rem;
    color: rgb(var(--color-link));
    background-color: transparent;
    font-size: 1.4rem;
    font-family: inherit;
}
  .singleImage {
    display: flex;
    flex-direction: column;
    margin: 0 "10px";
  justify-content: space-evenly;
  align-items: center;
  }
}
