.toolbar-form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.signle-toolbar-container{
    width: 45%;
    margin: 5px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;

}
.input-file{
    margin-top: 13px;
}
input {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  input:focus {
    border-color: rgb(22, 34, 22);
    box-shadow: 0 0 5px rgb(64, 64, 68);
  }