{% liquid
  assign my_image_url = block.settings.icon
  assign my_image_url_2 = block.settings.icon2
  assign my_image_url_3 = block.settings.icon3
  assign my_image_url_4 = block.settings.icon4
  assign my_image_url_5 = block.settings.icon5
  assign my_image_url_6 = block.settings.icon6
%}



  <div class="container" style="font-family: {{ block.settings.font }}">
  {% comment %} first image {% endcomment %}

  <div class="singleImage">

    {%- if block.settings.icon == blank and block.settings.image_1 == blank -%}
      {%- elsif block.settings.icon != blank -%}

        <a class="link" href="{{ block.settings.links }}">
          <img
            src="{{ my_image_url }}"
            alt="My Image"
            loading="lazy"
            width="{{ 50 }}"
            height="{{ 30 }}">
          {{ block.settings.title }}
        </a>

      {% else %}
        <a class="link" href="{{ block.settings.links }}">
          <img
            class="iconImage"
            src="{{ block.settings.image_1 | image_url: width: 80 }}"
            alt="{{ block.settings.image_1.alt }}"
            loading="lazy"
            width="{{ 50 }}"
            height="{{ 30 }}">
          {{ block.settings.title }}
        </a>

    {%- endif -%}
  </div>

  {% comment %} Second image {% endcomment %}
  <div class="singleImage">
    {%- if block.settings.icon2 == blank and block.settings.image_2 == blank -%}
      {%- elsif block.settings.icon2 != blank -%}
        <a class="link" href="{{ block.settings.links2 }}">
          <img
            src="{{ my_image_url_2 }}"
            alt="My Image"
            loading="lazy"
            width="{{ 50 }}"
            height="{{ 30 }}">
          {{ block.settings.title2 }}
        </a>
      {% else %}
        <a class="link" href="{{ block.settings.links2 }}">
          <img
            class="iconImage"
            src="{{ block.settings.image_2 | image_url: width: 80 }}"
            alt="{{ block.settings.image_2.alt }}"
            loading="lazy"
            width="{{ 50 }}"
            height="{{ 30 }}">
          {{ block.settings.title2 }}
        </a>
    {%- endif -%}
  </div>
  {% comment %} Third Image {% endcomment %}

  <div class="singleImage">
    {%- if block.settings.icon3 == blank and block.settings.image_3 == blank -%}
      {%- elsif block.settings.icon3 != blank -%}
        <a class="link" href="{{ block.settings.links3 }}">
          <img
            src="{{ my_image_url_3 }}"
            alt="My Image"
            loading="lazy"
            width="{{ 50 }}"
            height="{{ 30 }}">
          {{ block.settings.title3 }}
        </a>

      {% else %}
        <a class="link" href="{{ block.settings.links3 }}">
          <img
            class="iconImage"
            src="{{ block.settings.image_3 | image_url: width: 80 }}"
            alt="{{ block.settings.image_3.alt }}"
            loading="lazy"
            width="{{ 50 }}"
            height="{{ 30 }}">
          {{ block.settings.title3 }}
        </a>

    {%- endif -%}
  </div>
  {% comment %} Fourth Image {% endcomment %}

  <div class="singleImage">
    {%- if block.settings.icon4 == blank and block.settings.image_4 == blank -%}
      {%- elsif block.settings.icon4 != blank -%}
        <a class="link" href="{{ block.settings.links4 }}">
          <img
            src="{{ my_image_url_4 }}"
            alt="My Image"
            loading="lazy"
            width="{{ 50 }}"
            height="{{ 30 }}">
          {{ block.settings.title4 }}
        </a>
      {% else %}
        <a class="link" href="{{ block.settings.links4 }}">
          <img
            class="iconImage"
            src="{{ block.settings.image_4 | image_url: width: 80 }}"
            alt="{{ block.settings.image_4.alt }}"
            loading="lazy"
            width="{{ 50 }}"
            height="{{ 30 }}">
          {{ block.settings.title4 }}
        </a>

    {%- endif -%}
  </div>

  {% comment %} fifth image {% endcomment %}
  <div class="singleImage">
    {%- if block.settings.icon5 == blank and block.settings.image_5 == blank -%}
      {%- elsif block.settings.icon5 != blank -%}
        <a class="link" href="{{ block.settings.links5 }}">
          <img
            src="{{ my_image_url_5 }}"
            alt="My Image"
            loading="lazy"
            width="{{ 50 }}"
            height="{{ 30 }}">
          {{ block.settings.title5 }}
        </a>
      {% else %}
        <a class="link" href="{{ block.settings.links5 }}">
          <img
            class="iconImage"
            src="{{ block.settings.image_5 | image_url: width: 80 }}"
            alt="{{ block.settings.image_5.alt }}"
            loading="lazy"
            width="{{ 50 }}"
            height="{{ 30 }}">
          {{ block.settings.title5 }}
        </a>

    {%- endif -%}
  </div>


  {% comment %} Sixth Image {% endcomment %}


  <div class="singleImage">
    {%- if block.settings.icon6 == blank and block.settings.image_6 == blank -%}
      {%- elsif block.settings.icon6 != blank -%}
        <a class="link" href="{{ block.settings.links6 }}">
          <img
            src="{{ my_image_url_6 }}"
            alt="My Image"
            loading="lazy"
            width="{{ 50 }}"
            height="{{ 30 }}">
          {{ block.settings.title6 }}</a>
      {% else %}
        <a class="link" href="{{ block.settings.links6 }}">
          <img
            class="iconImage"
            src="{{ block.settings.image_6 | image_url: width: 80 }}"
            alt="{{ block.settings.image_6.alt }}"
            loading="lazy"
            width="{{ 50 }}"
            height="{{ 30 }}">
          {{ block.settings.title6 }}
        </a>


    {%- endif -%}
  </div>
</div>

{% schema %}
  {
    "name": "My App Block",
    "target": "section",
    "stylesheet": "my-app-block.css",
    "javascript": "my-app-block.js",
    "templates": [
      "product", "index", "collection", "cart"
    ],
    "settings": [

      {
        "type": "text",
        "id": "font",
        "label": "Font",
        "default": "Open Sans"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title-1",
        "default": "Title"
      },
      {
        "type": "text",
        "id": "links",
        "label": "Link",
        "default": "/products"
      },
      {
        "type": "text",
        "id": "icon",
        "label": "Icon"
      }, {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
      }, {
        "type": "text",
        "id": "title2",
        "label": "Title-2",
        "default": "Title-2"
      }, {
        "type": "text",
        "id": "links2",
        "label": "Link-2",
        "default": "/cart"
      }, {
        "type": "text",
        "id": "icon2",
        "label": "Icon-2"
      }, {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      }, {
        "type": "text",
        "id": "title3",
        "label": "Title-3",
        "default": "Title-3"
      }, {
        "type": "text",
        "id": "links3",
        "label": "Link-3"
      }, {
        "type": "text",
        "id": "icon3",
        "label": "Icon-3"
      }, {
        "type": "image_picker",
        "id": "image_3",
        "label": "Image 3"
      }, {
        "type": "text",
        "id": "title4",
        "label": "Title-4"
      }, {
        "type": "text",
        "id": "links4",
        "label": "Link-4"
      }, {
        "type": "text",
        "id": "icon4",
        "label": "Icon-4"
      }, {
        "type": "image_picker",
        "id": "image_4",
        "label": "Image 4"
      }, {
        "type": "text",
        "id": "title5",
        "label": "Title-5"
      }, {
        "type": "text",
        "id": "links5",
        "label": "Link-5"
      }, {
        "type": "text",
        "id": "icon5",
        "label": "Icon-5"
      }, {
        "type": "image_picker",
        "id": "image_5",
        "label": "Image 5"
      }, {
        "type": "text",
        "id": "title6",
        "label": "Title-6"
      }, {
        "type": "text",
        "id": "links6",
        "label": "Link-6"
      }, {
        "type": "text",
        "id": "icon6",
        "label": "Icon-6"
      }, {
        "type": "image_picker",
        "id": "image_6",
        "label": "Image 6"
      }

    ]
  }
{% endschema %}